In [2]:
# loading required packages
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import datetime

# FIFA ETL PROJECT

## Extract and Transform

I got two datasets from kaggle. The first one was a table of different stats of every active soccer player, and the second one was a table that shows the ranking and information about every country that is registered in FIFA.

After cleaning both tables, I created a database in PgAdmin and imported both csv tables into the tables in PgAdmin.

### FIFA Table

In [3]:
fifa_table = "ETL/fifa_ranking.csv"
fifa_table_df = pd.read_csv(fifa_table)
fifa_table_df.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

I decided to reduce the table to Rank, Country name, Country abbreviation, and Confederation, as well as rename the columns.

In [9]:
fifa_table_reduced = fifa_table_df[["rank","country_full","country_abrv","confederation"]]
fifa_ranking_df = fifa_table_reduced.rename(columns={"rank":"Country_Rank", "country_full":"Country","country_abrv":"Country_abbreviation","confederation":"Confederation"}) 
fifa_ranking_df.head()

   Country_Rank      Country Country_abbreviation Confederation
0             1      Germany                  GER          UEFA
1             2        Italy                  ITA          UEFA
2             3  Switzerland                  SUI          UEFA
3             4       Sweden                  SWE          UEFA
4             5    Argentina                  ARG      CONMEBOL

In [ ]:
#Export as csv
fifa_ranking_df.to_csv("Ranking_fifa_table.csv",index=False)

### FIFA Players Table

In [10]:
fifa_players = "ETL/FIFA19.csv"

In [11]:
fifa_players_df = pd.read_csv(fifa_players)

fifa_players_df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

I decided to reduce the players table to ID, Name, Age, country, Overall Score, and Club name.

In [12]:
fifa_reduced = fifa_players_df[["ID","Name","Age","Nationality","Overall","Club"]]

fifa_reduced.head()

       ID               Name  Age Nationality  Overall                 Club
0  158023           L. Messi   31   Argentina       94         FC Barcelona
1   20801  Cristiano Ronaldo   33    Portugal       94             Juventus
2  190871          Neymar Jr   26      Brazil       92  Paris Saint-Germain
3  193080             De Gea   27       Spain       91    Manchester United
4  192985       K. De Bruyne   27     Belgium       91      Manchester City

In [39]:
# Export as csv
fifa_reduced.to_csv("FIFA_PLAYERS2019.csv", index=False)